[user]
	email = jfoster@users.noreply.github.com
	name = jfoster
	signingkey = 908A95DF
[push]
	default = simple
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
	hooksPath = /Users/jfoster/.files/dotfiles/.git-templates/hooks/
[alias]
	unadd = reset HEAD
	archive-repo = "!f() { hub api -XPATCH repos/{owner}/{repo} -f archived=true > /dev/null; }; f"
	rename-repo = "!f() { hub api -t -XPATCH repos/{owner}/{repo} -f name=$1 | grep .svn_url | awk '/.svn_url/ {print $2}' | xargs git remote set-url origin; }; f"
[hub]
	protocol = https
[gpg]
	program = gpg
[credential]
	helper = osxkeychain
