[alias]
	resign = "!f() { git filter-branch -f --commit-filter 'if [ "$GIT_COMMITTER_EMAIL" = "$1" ] then git commit-tree -S "$@"; fi' -- --all; }; f"
	unadd = reset HEAD
[commit]
	gpgsign = true
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore_global
	hooksPath = ~/.git-templates/hooks/
	pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
	helper = osxkeychain
[gpg]
	program = gpg
[hub]
	protocol = https
[init]
	defaultBranch = main
[push]
	default = simple
[user]
	email = jacobfoster@pm.me
	name = jfoster
	signingkey = 338DF109
